.heading {
  text-align: center;
  color: #03024c;
}

.container {
  max-width: 65%;
}

.container2 {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

agm-map {
  height: 300px;
}

.form-group {
  margin-bottom: 2rem;
}

.mapImage {
  width: 34px;
  height: 30px;
}

.jumbotron {
  padding: 2%;
}

.spinner {
  width: 8.6%;
  margin-left: 4%;
}

/* .form-group[_ngcontent-c0] {
    margin-bottom: 1rem;
} */

[hidden] {
  display: none !important;
}

.footerImage {
  float: right;
  width: 16%;
  margin-top: 7%;
  margin-right: 43%;
}

.btn-primary {
  color: #040404;
  background-color: #e4e4e8c7;
  border-color: #ffffff;
}

.btn-primary:hover {
  background-color: #8f8f96c7;;
}

.cardStyle {
  float: right;
  margin-right: 5%;
}

.logo {
  position: relative;
  left: 1.5%;
  margin-top: 1%;
  width: 3.5%;
}

.btn-success {
  background-color: #01b2aa;
}

.savedMessage {
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
  text-align: center;
  margin-top: 4%;
}

.bg-dark {
  background-color: #243f71 !important;
}

.nav-link {
  /* display: block; */
  padding: .5rem 1rem;
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #6385c3;
}

.table {
  width: 100%;
}
