.heading {
  text-align: center;
  color: #003b5d;
}

.container {
  max-width: 37%;
}

.form-group {
  margin-bottom: 2rem;
}

.jumbotron {
  padding: 2%;
}

.spinner {
  width: 8.6%;
  margin-left: 4%;
}

.logo2 {
  max-width: 40%;
  margin-top: 6%;
  float: right;
}

/* .form-group[_ngcontent-c0] {
    margin-bottom: 1rem;
} */

[hidden] {
  display: none !important;
}

.footerImage {
  float: right;
  width: 16%;
  margin-top: 7%;
  margin-right: 43%;
}



.logo {
  position: relative;
  left: 1.5%;
  margin-top: 1%;
  width: 3.5%;
}

.btn-success {
  background-color: #01b2aa;
}

.savedMessage {
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
  text-align: center;
  margin-top: 4%;
}
