<div>
    <br>
    <br>
    <div class="cardStyle">
        <div class="card" style="width:180px">
            <div class="card-body">
                <h6 class="card-title">Status Unknown</h6>
                <p class="card-text"><strong>3</strong></p>
                <!-- <img class="card-img-bottom" src="https://www.w3schools.com/w3images/avatar2.png" alt="Card image" style="width:100%"> -->
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <table id="example" class="table table-striped" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Order Type</th>
                    <th>No.of Items</th>
                    <th>Order Date</th>
                    <th>Requested By</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5638</td>
                    <td>NBA Shoes</td>
                    <td>1000</td>
                    <td>12 Oct,18</td>
                    <td>Sunrise Distributor</td>
                    <td>Open</td>
                </tr>
                <tr class="table-warning">
                    <td>3324</td>
                    <td>Shoe laces</td>
                    <td>500</td>
                    <td>02 Oct,18</td>
                    <td>Amazon Distributor</td>
                    <td><select>
                            <option value="Unknown">Unknnown</option>
                            <option value="Open">Open</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Closed">Closed</option>
                        </select></td>
                </tr>
                <tr>
                    <td>0294</td>
                    <td>Slippers</td>
                    <td>1000</td>
                    <td>06 Oct,18</td>
                    <td>Elante Retailer</td>
                    <td>Confirmed</td>
                </tr>
                <tr class="table-warning">
                    <td>1964</td>
                    <td>Socks</td>
                    <td>2000</td>
                    <td>18 Oct,18</td>
                    <td>ADID4007</td>
                    <td><select>
                            <option value="Unknown">Unknnown</option>
                            <option value="Open">Open</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Closed">Closed</option>
                        </select></td>
                </tr>
                <tr>
                    <td>6738</td>
                    <td>football</td>
                    <td>500</td>
                    <td>01 Oct,18</td>
                    <td>Amazon Distributor</td>
                    <td>In Progress</td>
                </tr>
                <tr>
                    <td>2395</td>
                    <td>Men's Jersey</td>
                    <td>934</td>
                    <td>18 Oct,18</td>
                    <td>Reliance Distributor</td>
                    <td>Open</td>
                </tr>
                <tr class="table-warning">
                    <td>0245</td>
                    <td>CR7 Shoes</td>
                    <td>5678</td>
                    <td>09 Oct,18</td>
                    <td>ADID0239</td>
                    <td><select>
                            <option value="Unknown">Unknnown</option>
                            <option value="Open">Open</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Closed">Closed</option>
                        </select></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <button routerLink="/layout/createpackage" class="btn btn-primary">Update</button>
    </div>
</div>