.bg-dark {
  background-color: #ffb88cb3 !important;
}

.nav-link {
  /* display: block; */
  padding: .5rem 1rem;
  color: #03024c;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #fd9d62;
}

.nav a:hover {
  background-color: #efad8591;
}

.userIcon {
  width: 40px;
  display: block;
  margin-left: auto;
}